@model K22CNT3_LEVANHOANG_PROJECT2.Models.GioHangPj2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GioHangPj2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGioHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGioHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHangPj2.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHangPj2.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPhamPj2.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPhamPj2.TenSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaGioHang }) |
    @Html.ActionLink("Quay trở lại", "Index")
</p>
