@model IEnumerable<K22CNT3_LEVANHOANG_PROJECT2.Models.DonHangPj2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHangPj2.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaDonHang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDatHang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TongTien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TrangThai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KhachHangPj2.HoTen)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaDonHang }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaDonHang }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaDonHang })
    </td>
</tr>
}

</table>
