@model IEnumerable<K22CNT3_LEVANHOANG_PROJECT2.Models.QuanTriPj2>

@{
    ViewBag.Title = "Index";
}

<h2>Lê Văn Hoàng - Quản trị</h2>

<p>
    <button type="button" class="btn" onclick="location.href='@Url.Action("Create")'">Thêm mới</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Taikhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trangthai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Taikhoan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Matkhau)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trangthai)
        @{
            if (item.Trangthai == 0)
            {
                <span class="text-warning">Không hoạt động</span>
            }
            else if(item.Trangthai == 1)
            {
                <span class="text-success">Đang hoạt động</span> 
            }
            else
            {
                <span class="text-info">Tài khoản không tồn tại</span>
            }
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Taikhoan }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Details", "Details", new { id = item.Taikhoan }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Taikhoan }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
